%table
	- @albums.each do |album|
		%tr
			%td
				%img{:src => (album/"image[@size=large]").innerHTML}
			%td
				%p
					=(album/"name:first").innerHTML
			%td
				- term = (album/"name:first").innerHTML + " " + @artist
				%a{:href => '/nzbmatrix/' + term} nzbmatrix
