- @similar.each do |artist|
	%p
		%img{:src => (artist/"image").innerHTML}
		%a{:href => '/albums/' + (artist/"name").innerHTML}
			=(artist/"name").innerHTML
		%a{:href => "/similar/" + (artist/"name").innerHTML} similar
